.App {
  width: 1920px; /* 전체 뷰포트 너비 */
  height: 1080px; /* 전체 뷰포트 높이 */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0; /* 배경색 설정 */
  position: relative; /* 부모 요소에 relative 설정 */
}

.Container {
  width: 1364px;
  height: 800px;
  display: flex;
  border: 2px solid #615d5d; /* 영역 확인을 위한 테두리 임시 설정 */
  position: absolute; /* 자식 요소에 absolute 설정 */
  top: 120px; /* 위에서 50px 떨어짐 */
}

.Resume {
  position: fixed; /* 뷰포트를 기준으로 위치 조정 */
  top: 180px; /* 뷰포트의 위에서 50px 떨어짐 */
  left: 600px; /* 뷰포트의 왼쪽에서 20px 떨어짐 */
  border: 2px solid #615d5d;
  width: 960px;
  height: 720px;
}

/*이력서 선택페이지 src/resume/Resume2.css */ 

.resume-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.resume-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.resume-intro {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.resume-description {
  font-size: 16px;
  color: #555;
}
